.filter {
  padding: 10px;
  color: #fff;
  .filter-value {
    display: flex;
    justify-content: space-between;
    align-items: center;

    select {
      padding: 10px 15px;
      border: none;
      border-radius: 15px;
    }
  }
}
