@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

button {
  background: #6e18a7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 10px;
}

button:first-child {
  margin-left: 0;
}
